html,
body {
  padding: 0;
  margin: 0;
}

#earth_div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  position: absolute !important;
}
.we-pm-icon {
  width: 10px !important;
  margin-left: -5px;
  margin-top: -5px;
  background-image: none;
  height: 10px !important;
  border-radius: 50%;
  background-color: rgba(36, 125, 204, 0.36);
  border-color: rgba(1, 1, 1, 0);
  border: solid;
  margin: 10px;
  transition: transform 0.7s;
}

.we-pm-icon:hover {
  background-color: rgba(36, 125, 204, 0.8);
  transition: background-color 0.7s;
  transform: scale(1.5);
}
#info_panel {
  min-width: 20em;
  opacity: 0;
  position: absolute;
  right: 1%;
  top: 15%;
  background-color: rgba(1, 1, 1, 0.6);
  max-height: 75vh;
  overflow-y: scroll;
}

* {
  font-family: "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel,
    Arial, sans-serif;
  color: white;
  margin: 0;
}

#splash h1 {
  font-size: 6em;
}

#splash h2 {
  font-size: 3em;
}

#yearLabel {
  margin: 10px 0px;
  color: white;
  text-align: left;
  padding: 0.2em 0.6em;
  font-size: 1.75em;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background-color: rgba(1, 1, 1, 0.2);
}

#start-btn {
  position: relative;
  top: 40vh;
}

button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50px;
  border: 3px solid white;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-container {
  width: 70%;
  position: absolute;
  left: 15%;
  top: 3%;
}

#splash {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 47, 111, 0.8);
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#splash > .subtitle {
  font-weight: normal;
  position: relative;
  top: 58%;
  font-style: italic;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: black 0px 0px 1px;
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

label {
  display: block;
  cursor: pointer;
  line-height: 1.75;
  font-size: 1.25em;
}

[type="radio"] + span {
  display: block;
}

[type="radio"] + span:before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 1px solid #fff;
  margin-right: 0.5em;
  transition: 0.5s ease all;
}

[type="radio"]:checked + span:before {
  background: white;
  box-shadow: 0 0 0 0.15em #000 inset;
}
